@model BankApplication.Models.TransactionModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TransactionModel</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.TransactionID)

        <div class="form-group">
            @Html.LabelFor(model => model.AccountFromID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccountFromID)
                @Html.ValidationMessageFor(model => model.AccountFromID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountToID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccountToID)
                @Html.ValidationMessageFor(model => model.AccountToID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TransactionAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TransactionAmount)
                @Html.ValidationMessageFor(model => model.TransactionAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TransactionDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TransactionDate)
                @Html.ValidationMessageFor(model => model.TransactionDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
