@model WebApplication3.Models.EventModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EventModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDirector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDirector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDistribution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDistribution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventTickets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTickets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventReleaseDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
