@model WebApplication3.Models.TicketModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TicketModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketRow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketRow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketColumn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketColumn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TicketID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
