@model BankApplication.Models.BankAccountModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BankAccountModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.AccountClientID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccountClientID)
                @Html.ValidationMessageFor(model => model.AccountClientID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountBalance, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccountBalance)
                @Html.ValidationMessageFor(model => model.AccountBalance)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccountType)
                @Html.ValidationMessageFor(model => model.AccountType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountCreationDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccountCreationDate)
                @Html.ValidationMessageFor(model => model.AccountCreationDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
