@model BankApplication.Models.UtilityBillModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UtilityBillModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountToPayID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountToPayID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountToPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountToPay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UtilityBillID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
