@model IEnumerable<BankApplication.Models.UtilityBillModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountToPayID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountToPay)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountToPayID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountToPay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UtilityBillID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UtilityBillID }) |
            @Html.ActionLink("PayBill", "Delete", new { id=item.UtilityBillID })
        </td>
    </tr>
}

</table>
